.profile{
    display: flex;
}

.profileRight{
    flex: 9;
}

.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
}

.uploadButton {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(24, 24, 24, 0.6);
    color: rgb(199, 191, 191);
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 5px;
  }



  .profileUploadButton {
    position: absolute;
    bottom: 5px;
    right: -5px;
    background-color: #1877f2;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    transition: 0.3s;
  }